<div *ngIf="!(user|async)?.uid">
  <app-floating-button
    title="Touch to Login!"
    color={{buttonLogin}}
    icon="fingerprint"
    position="1"
    (click)="loginOptions()"
  ></app-floating-button>
  <app-floating-button
    title="Login with Facebook"
    color="primary"
    position="2"
    [isFa]=true
    icon="facebook"
    *ngIf="showSocialLogin"
    (click)="facebookLogin()"
  ></app-floating-button>
  <app-floating-button
    title="Login with Google+"
    color="warn"
    [isFa]=true
    icon="google-plus"
    position="4"
    *ngIf="showSocialLogin"
    (click)="googleLogin()"
  ></app-floating-button>
</div>

<div *ngIf="(user|async)">

  <app-floating-button
    title="Options"
    icon="add"
    position="1"
    color={{buttonMore}}
    (click)="moreOptions()"
  ></app-floating-button>
  <app-floating-button
    title="Go home!"
    icon="home"
    position="3"
    color="primary"
    *ngIf="more"
    (click)="goHome()"
  ></app-floating-button>

  <div *ngIf="(adage|async)?.uid !== (user|async)?.uid">
    <app-floating-button
      title="Add new adage!"
      icon="add"
      position="2"
      color="accent"
      *ngIf="more"
      (click)="newAdage()"
    ></app-floating-button>
    <app-floating-button
      title="Log out! Sign out! Bye Bye!!"
      icon="sign-out"
      [isFa]=true
      position="5"
      color="warn"
      *ngIf="more"
      (click)="singOut()"
    ></app-floating-button>
  </div>

  <div *ngIf="(adage|async)?.uid === (user|async)?.uid">
    <app-floating-button
      title="Options for you"
      icon="edit"
      *ngIf="more"
      position="2"
      color={{buttonEdit}}
      (click)="editOptions()"
    ></app-floating-button>
    <app-floating-button
      title="Edit this adage"
      icon="edit"
      *ngIf="more && edit"
      color="accent"
      position="3"
      (click)="editMe()"
    ></app-floating-button>
    <app-floating-button
      title="Delete this adage"
      icon="delete"
      *ngIf="more && edit"
      color="warn"
      position="5"
      (click)="deleteMe()"
    ></app-floating-button>
  </div>

</div>
